/*Body Elements*/
html , body{
    background-image: linear-gradient(180deg,#5d0101 20%,#db2312 30%,#069d90 40%, #064165 60%,#069d61 70%,red 80%, #650505 90% );
    color:#ffdf00;
    font-family: cursive;
    text-align: center;
    background-repeat:space;
    margin: 0;
    min-height: 100%;
    min-width: 100%;

}

/*Header*/
header{
    color:#ffffff;
    top: 0px;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    position: sticky;
    
}
h4{
    color:#ffdf00; 
}
h1{
    display:inline;
    padding: 10px;
    margin: 0px;
    color:#ffdf00; 
}
h3{
    display:inline;
    padding: 10px;
    margin: 0px; 
}
h5{
  color:#d90a07;
}
.head{
    display:flex;
    padding: 50px;
    height:max-content;
    column-count: 1;
    font-family: 'Delicious Handrawn', cursive;
}
.head p{
    border:solid 1px;
    padding: 30px;
    text-align: center;
    background-color: #d19710;
    color:#380100;
    font-size:large;
    flex-direction: column;
    float: right;
    margin-right: 10px;
}

/* Making Iron Man Hovering */
.dp{
  height: 300px;
  width:auto;
  min-width: 100px;
  transition:ease-in;
  position: relative;
  animation-duration: 3s;
  animation-name: move-up; 
  animation-iteration-count:15;
  backface-visibility: hidden;
}
  .cardfe{
    z-index: 1;
    width:auto;
  }
@keyframes move-up {
  from {
    bottom: 100px;
  }
  to {
    bottom: 2px;
  }
}
/*Making Website Responsive*/
  @media only screen and (max-width: 600px) {
    .dp{
      width:100px;
    height: 200px;
    display: none;}
    .head{
      flex-direction: column;
    }
    }
  @media only screen and (max-width: 800px) {
    .dp{
      display: none;
      
    }
    .head{
      flex-direction: column;
    }
    .cardfe{
      width:200px;
    }
  }


/*Experience*/
.ex{
    color:#ffffff;
    font-size: larger;

    
}
.ex button{
  background-color: #1868b3;
  opacity: 0.5;
color: #ffffff;
border-radius: 8px;
border:solid 1px;
border-color: #073287;
font-weight: bold;
}
.ex button:hover{
  opacity: 1;
}
/*Hire Me   Button*/
  .hire{
    background-color: #00f2ff;
    color: #121082;
    border-radius: 8px;
    border:solid 2px;
    border-color: #989c9d;
    padding: 12px;
    position: sticky;
    font-weight: bolder;

  }
  .hire:hover{
    color:white;
  }
  .hire a:hover{
    color:rgb(0, 0, 0);
  }
/*Slideshow*/
@keyframes slide{
  0%{content: url('sit.jpeg');}
  15%{content: url('stone.jpg');}
  30%{content: url('hover.jpg');}
  50%{content: url('hero.jpeg');}
  65%{content: url('gem.jpeg');}
  100%{content: url('fly.jpeg');}
}

.slide{
  margin: 0px;
  font-family: 'Times New Roman', Times, serif;
}
.slide img{
  animation-name: slide;
  animation-duration: 10s;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  width:300px;
  height:350px;
  border:solid 1px black;
  border-radius: 15px 0px 15px 0px;
  padding: 0px;
  margin:2px;
  bottom: 10px;
  box-shadow: 2px 5px 11px black
}

/*Last Paragraph*/
.caro{
  height:max-content;
  display:inline-flex;
  padding:1px;
   color:#ffffff; 
  flex-direction: column;
}
/*Footer*/
footer{
  bottom: 0px;
  background-color: black;
  color:white;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  height:max-content;
  margin-top: 0px;
  
}
.icon{
  height: 50px;
  background-color: white;
  width:max-content;
  border-radius: 8px;

}
#github:hover{
  background-color: #42ff03;
}
#marvel:hover{
  background-color: rgb(255, 0, 0);
}
#linkedin:hover{
  background-color: #0887db;
}
#stark:hover{
  background-color: #dbcd08;
}
.love{
  animation: mymove 10s infinite;
  border:none;
  border-radius: 8px;
  padding: 10px;
  font-size: larger;
  font-weight: bold;
  color: white;
}
@keyframes mymove{
  0% {background-color: purple;box-shadow: 5px 2px 11px #bb00ff;}
  5% {background-color: blue; box-shadow: 7px 2px 11px rgb(2, 2, 32);}
 10% {background-color: #089fdb;box-shadow: 2px 3px 11px #00b7ff;}
 20% {background-color: #1ddb08;box-shadow: 7px 2px 11px #1eff00;}
 40% {background-color: yellow;box-shadow: 2px 3px 11px rgb(255, 255, 0);}
 60% {background-color: orange;box-shadow: 7px 2px 11px orangered;}
 80% {background-color: #db0828;box-shadow: 2px 5px 11px #ff0400;}
 100% {background-color: purple;box-shadow: 5px 2px 11px #bb00ff;}
}

.arc{
  border-radius: 50%;
   box-shadow:2px 2px 22px rgb(2, 22, 74);
   border:none;
   filter: grayscale(50%);
}
.arc:hover{
  filter:grayscale(0%);
}
